<ul id="categories">
    {{#each menucat}}
        <li>
            <input type="checkbox" name="catcheck" id="{{this.category}}">
            <label class="catbutton" for="{{this.category}}">
                <span id="caticon"><i class="{{this.icon}}"></i></span>
                {{this.category}}
            </label>
        </li>
    {{/each}}
</ul>
<ul id="menu">
    {{#each menu}}
    <li class="{{this.category}} menuitemcontainer">
        <div id="menuitem">
            <a href="/customer/menu/{{this.name}}">
                <img src="https://source.unsplash.com/{{this.image}}" 
                alt="Photo of {{#removeunderscore this.name}}{{/removeunderscore}}">
                <span>{{#removeunderscore this.name}}{{/removeunderscore}}</span>
            </a>
            <p>${{this.price}}</p>
            {{!-- https://stackoverflow.com/questions/45396280/customizing-increment-arrows-on-input-of-type-number-using-css/45396364 --}}
            <div class="number-input">
                <button class="minus-item" onclick="this.parentNode.querySelector('input[type=number]').stepDown();" >
                    <i class="fas fa-minus-circle"></i>
                </button>
                <input class="itemcount" name={{this.name}} type="number" value="0" min="0" max="99">
                <button class="plus-item" data-price={{this.price}} onclick="this.parentNode.querySelector('input[type=number]').stepUp();">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
<script src="/js/menu.js"></script>