<script src="/socket.io/socket.io.js"></script>
<script>
    var orderinfo = {{{json order}}}
</script>
<div class="centerflex">
    <h1 class="logintitle"><i>Your order is on the way!</i></h1>
    <div id="orderStatusText">{{order.orderStatus}}</div>
    <div id="orderDetailInfo">
        <b>Order Information</b>
        <p>Time of order: {{#formatDate order.timestamp}}{{/formatDate}}</p>
        <div id="timeElapsed"><p>Time elapsed: Xm, Xsec</p></div>
        <div id="orderDetailItemList">
            {{#each order.item}}
                <div id="orderitem">
                    <div>{{this.count}}x</div>
                    <div>{{this.name}}</div>
                    <div>${{#toFixed2 this.total}}{{/toFixed2}}</div>
                </div>
            {{/each}}
        </div>
        <div id="orderDetailID">Order ID: {{order.orderID}}</div>
    </div>
</div>
<script src="/js/customer/orderstatus.js"></script>